.ssh.pub
c.pub
c
node_modules/
.DS_Store
dist/
.env
.vscode/
.idea/
*.log
*.tmp
*.bak
coverage/
*.class
*.jar
*.war
*.iml
out/
build/
tmp/
logs/
*.swp
*.swo
*.pid
*.seed
*.pid.lock
*.orig
*.rej
*.lock
*.zip
*.tar.gz
*.exe
*.dll
*.so
*.dylib
*.pdb
*.lib
*.o
*.obj
*.bin
*.iso
*.img
*.msi
*.7z    
*.rar
*.gz
*.tgz
*.logs
*.log.*